.footer {
    height: 500px;
    position: relative;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background: $main-color;
        padding: 50px 58px 60px 68px;
    }
    &__adr {
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        color: #FFFFFF;
        line-height: 20px;
    }
    &__phone {
        display: block;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 38px;
        &:hover {
            color: #FFFFFF;
        }
    }
    &__social {
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
    &__social-item {
        margin: 0 15px;
        width: 53px;
        height: 52px;
        border-radius: 50%;
        transition: 0.3s all;
        &:hover {
            background-color: brown;
        }
    }

}