input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.feed-form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 303px;
    input {
        border: none;
        border-radius: 5px;
        background: #FFFFFF;
        margin-bottom: 15px;
        height: 54px;
        width: 303px;
        font-size: 14px;
        font-weight: 400;
        color: #4B4B4B;
        padding-left: 20px;
        &:nth-child(3) {
            margin-bottom: 20px;
        }
    }
    &_mt25 {
        margin-top: 25px;
    }
    button {
        border-radius: 5px;
        height: 58px;
        width: 303px;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}