.btn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.title {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #0D0D0D;
}

.slick-dots {
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    list-style: none;
    padding-left: 0;

}

.slick-dots button {

    font-size: 0;
    width: 15px;
    height: 15px;
    background-color: #000;
    border-radius: 50%;
    margin: 5px 50px 15px;
}